@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Potwierdzono adres e-mail.</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
       
    </div>
    <div class="col-md-6">
        <img src="~/images/gotowe.jpg" alt="Email Confirmation Image" class="img-fluid" />
    </div>
</div>
