@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
@if (TempData["InfoForUser"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>@TempData["InfoForUser"]</strong> <br />
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h3 class="display-4">Zaloguj się</h3>
<hr />

<div class="row">
    <div class="col-md-5 shadow-sm">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" style="margin-top:10px;" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Czy zapamiętać hasło?
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj</button>
                </div>
                <div>
                    <p style="margin-top:10px;">
                        <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij mi potwierdzenie e-mail</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

    <div class="col-md-7  image-container">
        <img src="~/images/zaloguj.jpg" alt="Login Image" class="img-fluid " />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
