@model TripsViewModel

<div class="row">
    <div class="col-md-6">
        <h2>Najlepsza pogoda obecnie:</h2>

       
            <partial name="_OneTrip" for="@Model.TripDto1" />
        
    </div>

    <div class="col-md-6">
        <h2>Najlepsza pogoda w ciągu tygodnia:</h2>
       
            <partial name="_OneTrip" for="@Model.TripDto2" />
      
    </div>
</div>

