@using AlpTrips.Application.Dtos;

@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["logout_message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        @TempData["logout_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["register_message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        @TempData["register_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="jumbotron text-center card shadow-sm" style="position: relative;">
    <div class="container" style="position:relative; z-index:1; margin-bottom:50px;">
        <h1 style="margin-top: 50px;margin-right:10px; margin-left:10px; margin-bottom:0; position: relative; z-index: 1; background-color: rgba(255, 255, 255, 0.7);">AlpTrips - wszystkie trasy w jednym miejscu</h1>
        <div class="lead" style="margin-right:10px; margin-left:10px; z-index:2; background-color: rgba(255, 255, 255, 0.7);">
            <p style="margin-right:10px;padding-bottom:10px;padding-top:20px;">Witaj na stronie głównej aplikacji AlpTrips, gdzie znajdziesz wszystkie trasy po Alpach w jednym miejscu. Przeglądaj opisy, oceny, galerie zdjęć i komentarze, aby znaleźć idealną wycieczkę, dopasowaną do Twoich preferencji i poziomu trudności.</p>
        </div>
        <form asp-action="Search" asp-controller="Home" class="row">
            <div class="col-md-6" style="margin-left:220px;">
                <input type="text" name="search" placeholder="Wpisz nazwę szczytu" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Znajdź wycieczkę</button>
            </div>
        </form>
    </div>
    <div style="position: absolute; top: 10px; left: 10px; right: 10px; bottom: 10px; z-index: 0; overflow: hidden;">
        <img src="/images/00ad4ebb-a0c5-47da-96e8-92677de2d5f4_licensed-image.jpg" alt="Tło zdjęcia" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</section>




<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3"> TOP Trasy w Alpach</h3>
        @await Component.InvokeAsync("TopTrasy")

    </div>
</div>
