@using AlpTrips.Application.Dtos;

@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["logout_message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        @TempData["logout_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["register_message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        @TempData["register_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="jumbotron text-center card shadow-sm" style="position: relative;">
    <div class="container" style="position:relative; z-index:1; margin-bottom:50px;">
        <h1 style="margin-top: 15px;margin-right:10px; margin-left:10px; margin-bottom:0; position: relative; z-index: 1; color:white">AlpTrips - wszystkie trasy w jednym miejscu</h1>
        <div class="lead" style="margin-right:30px; margin-left:30px; z-index:2; ">
            <p style="margin-right:30px;padding-bottom:70px;padding-top:20px;color:white;font-weight:150">Witaj! Przeglądaj opisy, oceny, galerie zdjęć i komentarze, aby znaleźć idealną wycieczkę, dopasowaną do Twoich preferencji i poziomu trudności.</p>
        </div>
        <form asp-action="Search" asp-controller="Home" class="row">
            <div class="col-md-6" style="margin-left:220px;">
                <input type="text" name="search" placeholder="Wpisz nazwę szczytu" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Znajdź wycieczkę</button>
            </div>
        </form>
    </div>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; overflow: hidden;">
        <video autoplay loop muted style="width: 100%; height: 100%; object-fit: cover;">
            <source src="/videos/AlpTrips.mp4" type="video/mp4">
            
        </video>
    </div>
</section>




<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3"> TOP Trasy w Alpach</h3>
        @await Component.InvokeAsync("TopTrasy")

    </div>
</div>
