@{
    ViewData["Title"] = "Home Page";
}
@using AlpTrips.Application.Dtos;

<section class="jumbotron text-center  card-body">
    <div class="container">
        <h1>AlpTrips - wszystkie trasy w jednym miejscu</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis purus lacus. 
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Znajdź wycieczkę</a>
        </p>
    </div>

</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3"> TOP Trasy w Alpach</h3>
        @await Component.InvokeAsync("TopTrasy")

    </div>
</div>
