html {
  font-size: 14px;
}
.card-text {
    margin-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tekst {
    margin: 10px;
}
.jumbotron.text-center {
    background-image: url('/images/00ad4ebb-a0c5-47da-96e8-92677de2d5f4_licensed-image.jpg');
}

.card-title{
    margin-left: 10px;
    margin-top: 5px;
}
.logo {
    width: 100px;
    height: auto;
}

.text-muted {
    margin-right:10px;
}
.trip-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.trip-info-item {
    font-size: 13px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-secondary{
    color:navy;
    margin: 10px;
}

.btn-outline-primary {
   
    margin: 10px;
}
.control-label{
    margin: 5px;
}

.grey{
    color: gray;
}

.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

.starGlow {
    background-image: url('/images/starglow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/images/starglow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}