html {
  font-size: 14px;
}
.bold-date {
    font-weight: bold;
}

.card-text {
    margin-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggestion-item {
    cursor: pointer;
    padding: 8px 12px;
}

    .suggestion-item:hover,
    .suggestion-item.active {
        background-color: #f2f2f2;
    }

.tekst {
    margin-top: 50px;
    margin-left: 3px;
}
.user-icon {
    width: 40px;
    height: 40px;
   
}
.widerinput {
    width: 50%;
}
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-heading {
    text-align: center;
    margin-top: 20px;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
}

.forecast-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.forecast-day {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
}




input::placeholder {
    font-size: 14px;
}
.monospaced {
    margin-left:6px;
}
.time-frame {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
}

.zT³em {
    background-image: url('/gallery/836363eb-83c0-4b92-9bb1-97beab9d4f29_Zinalrothorn01 (1).jpg');
    background-size: cover;
    background-position: center;
}


.list-group {
    margin-top:20px;
    margin-bottom:70px;
}
.zT³em1 {
    background-image: url('/images/00ad4ebb-a0c5-47da-96e8-92677de2d5f4_licensed-image.jpg');
}

.card-title{
    margin-left: 10px;
    margin-top: 5px;
}
.logo {
    width: 100px;
    height: auto;
}

.text-muted {
    margin-right:10px;
}
.trip-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.trip-info-item {
    font-size: 13px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-secondary{
    color:navy;
    margin: 10px;
}

.btn-outline-primary {
   
    margin: 10px;
}
.control-label{
    margin: 5px;
}

.grey{
    color: gray;
}

.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

.starFadeN {
    background-image: url('/images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    margin-top: 20px;
}

.starGlow {
    background-image: url('/images/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

.starGlowN {
    background-image: url('/images/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    margin-top: 20px;
}

.profile-pic {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
}

.profile-pic {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
  
}

    .profile-pic i {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }

    .profile-pic img {
        display: block;
        max-width: 100%;
        height: auto;
        border: none;
    }

.image-container {
    position: relative;
    height: 300px; 
    overflow: hidden;
}

    .image-container img {
        position: absolute;
        top: -50%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

.image-container-1 {
    position: relative;
    height: 300px;
    overflow: hidden;
}
 .image-container-1 img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }



